.form.table {
	margin-bottom: 0; /* override bootstrap */
}

.form.table td {
	padding-bottom: 5px;
}

.form.table .form-label {
	min-width: 80px;
	padding-right: 10px;
}

.form.table .form-field {
	padding-right: 10px;
}

.form.table .form-hint {
	font-size: 0.9em;
	color: #737373;
	line-height: 1;
}

.form.table textarea {
	width: 100%;
}

.example {
	border: 1px dashed #ccc;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.panel-title a {
	display: block;
}
