.form.table {
	margin-bottom: 0; /* override bootstrap */
}

.form.table td {
	padding-bottom: 5px;
}

.form.table .form-label {
	min-width: 80px;
	padding-right: 10px;
	vertical-align: top;
}

.form.table .form-field {
	padding-right: 10px;
	width: 200px;
}

.form.table input:not([type="radio"]):not([type="checkbox"]) {
	width: 100%;
}

.form.table .form-hint {
	font-size: 0.9em;
	color: #737373;
	line-height: 1;
}

.form.table textarea {
	width: 100%;
}

.form.table .form-addon {
	display: inline-table;
}

.form.table .form-suffix, .form.table .form-prefix {
	display: table-cell;
	width: auto;
	background: #eee;
	padding: 0 8px;
}

.required label:after {
	content: '*';
	color: #a00;
	margin-left: 5px;
}

.form-group .form-checkbox {
	margin-right: 15px;
}

dt > code {
	font-weight: normal;
}

table code {
	white-space: nowrap;
}

.example {
	border: 1px dashed #ccc;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 10px;
}

.panel-title a {
	display: block;
}

h2[id]:hover .link,
h3[id]:hover .link,
h4[id]:hover .link {
	display: inline-block;
	margin-left: -20px;
	width: 20px;
}

.link {
	display: none;
}

.doc-table pre {
	display: inline-block;
}

.doc-table strong {
	display: block;
	margin-top: 5px;
}

.doc-table .label {
	background-color: #777;
}

.doc-table .type-string {
	background-color: #700;
}

.doc-table .type-boolean {
	background-color: #070;
}

.doc-table .type-html {
	background-color: #007;
}
